footer.mt-7.bg-grey.text-center
	.container
		.row
			.col-sm-3
				+img('w-logo.jpg','logo')
			.col-sm-6
				p COPYRIGHT 2016 WILLY LAB LIMITED
				p DESIGED AND DEVELOPED BY 
					a(href="") WILLYLAB
			.col-sm-3
				p redes