header
	nav#menu.navbar.navbar-default.navbar-fixed-top
		div.navbar-header
			button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbarCollapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			
			a.navbar-brand(href="#") 
				img(src="assets/images/w-logo.jpg" alt="logo")

		div#navbarCollapse.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li 
					a(href="#") HOME
				li 
					a(href="#services") SERVICES
				li 
					a(href="#t") ABOUT
				li 
					a(href="#") PORTFOLIO
				li 
					a(href="#team") TEAM
				li 
					a(href="#") TESTIMONIAL
				li 
					a(href="#offers") PRICING
				li 
					a(href="#contact") CONTACT

section.header-bg
	div.container.text-center
		h2 Stand Out From The Crowd
		h3 For photogrhapher and freelancer who want to exclusively showcase their products.