section#contact.mt-7
	.container
		.row
			.col-sm-8
				h3.title Contact
					br
					| Us
				p.pt-30  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut alias atque odit accusamus officiis doloribus cumque, necessitatibus explicabo, dolore tenetur repellat laboriosam rerum saepe. Delectus fuga aliquid dolorum totam.
				.form
					input(placeholder="Name",type="text")
					input(placeholder="Email",type="text")
					input(placeholder="Subject",type="text")
					textarea(placeholder="Message")
					a(href="",class="btn-submit white") SUBMIT
			.col-sm-4
				h5 CONTACT INFO
				p 1455 19th St.
					br
					| Santa Monica, CA 90273
				h5 EMAIL:
					span youremail@yourdomain.com
				h5 PHONE:
					span +88 28393 83739 39393
				h5 FAX:
					span +88 34843 43434 5
				h5 CONNECT WITH US
				ul 
					li 
						h6 Our Company Mission
					li 
						h6 Company Philosophy
					li 
						h6 Company Promise