section#offers.mt-7
	.container
		h3.title Our Best
			br
			| Offers
		.row.text-center
			.col-sm-3
				+pricing('Free','$/0mo','10','10','50','100')
			.col-sm-3
				+pricing('Starter','$/50mo','50','50','70','100')
			.col-sm-3
				+pricing('Emprendedor','$70/mo','50','70','100','100')
			.col-sm-3
				+pricing('Corporativo','$250/mo','libre','libre','libre','libre')

