section#services.mt-7
	.container
		.row
			.col-sm-6
				+img-100('p15.jpg','pc')
			.col-sm-6.pl-40
				h3.title Services
					br
					| We Provide
				hr
				p.mt-30  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus labore libero aspernatur eaque. Quis dicta maiores blanditiis molestias quibusdam voluptatum id repellendus qui, dignissimos ipsum neque. Necessitatibus autem facilis reprehenderit.
				+service('online-store15.png','pc','PSD TEMPLATE DESIGN')
				+service('mug16.png','pc','GRAPHICS DESIGN')
				+service('photography88.png','pc','PHOTOGRAPHY')