section#team.mt-7
	.container
		h3.title Meet The
					br
					| Team
		.row.pt-30
			.col-sm-3
				+img-100('member7.jpg','ceo')
			.col-sm-3
				+profile('NETHANEL GILROY','Founder CEO')
			.col-sm-3
				+img-100('member8.jpg','marketing')
			.col-sm-3
				+profile('NAREK ROUBEN','Marketing Director')
		.row
			.col-sm-3
				+profile('SAMANTHA MILNER','Creative Director')
			.col-sm-3
				+img-100('member9.jpg','marketing')
			.col-sm-3
				+profile('LOUISE ALASTRIONA','UI/UX Specialist')
			.col-sm-3
				+img-100('member10.jpg','ceo')