section#welcome.mt-7
	.opacity
		.container
			.row
				.col-sm-6
					h3.title Welcome To
						br
						| W Studio
					p.pt-30  Lorem ipsum  ut non iste, labore obcaecati similique quod soluta nihil ea odit? Dicta explicabo nihil, assumenda consequuntur veniam, delectus molestias blanditiis, asperiores iste doloribus quam vitae ipsa? Debitis ab praesentium eaque, excepturi nostrum illo adipisci soluta consectetur dolorum perferendis odio totam, eveniet nihil eius quos quae? Aspernatur vel aut incidunt, totam officiis voluptatum non voluptas tempora temporibus sit repellat suscipit quod laboriosam enim corrupti!
				.col-sm-6
					video.w-100(src="assets/images/video.mp4")